.JoinPage{
    background-color: #cadcfc;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer > img{
    width: 10vmax;
}
.JoinContainer > h1{
    color: #00246b;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid #00246b;
    text-align: center;
    padding: 1vmax;
    font-family: "Roboto";
    box-sizing: border-box;
}

#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
    background-color: #8ab6f9;
}
.joinbtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    outline: none;
    font-size: 1.2vmax;
   background-color: #00246b;
   box-sizing: border-box;
   transition: all 0.3s;
   cursor: pointer;
   font-weight: bolder;
}
.joinbtn:hover{
    background-color: #04369b;
}

.gallery{
    width:40%;
    height: 500px;
    margin-top: 250px;
    margin-right: 200px;
    position: relative;
    left: 25%;
    top:20%;
    transform: translate(-50%,-50%);
    background-image: url('../../images/first.jpg');
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px white;
    animation: slider 10s infinite linear;
}

@keyframes slider {
    0%{
        background-image: url("../../images/first.jpg");
    }
    35%{
        background-image: url("../../images/second.jpg");
    }
    75%{
        background-image: url("../../images/third.jpg");
    }
}